bot_token = токен тг бота из @BotFather

openai_api_key = ключ api open ai я использую proxyapi
openai_url = url для запроса на openai

postgres_user = postgres
postgres_pass = 0000
postgres_host = localhost
postgres_port = 5432
postgres_db_name = bot

redis_host = localhost
redis_port = 6379

proxy_url=суда можно вставить приватный url для прокси для телеграмма в формате socks5://логин:пароль@хост:порт