bot_token = токен тг бота из @BotFather
openai_api_key = ключ api open ai
postgres_user = postgres
postgres_pass = 0000
postgres_host = localhost
postgres_port = 5432
postgres_db_name = bot
openai_api_key = api ключ для работы с api 
openai_url = url для запроса на openai
redis_host = localhost
redis_port = 6379